
@{
    Layout = "_Layout";
    ViewData["Title"] = "Responsive";
}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div class="row" style="background: gray">
    <div class="col-md col-lg-6" style="background-color:red;">50% op desktop, 100% op mobiel</div>
    <div class="col-md col-lg-6" style="background-color:red;">50% op desktop, 100% op mobiel</div>
    <div class="col-6" style="background-color:green;">altijd 50%</div>
    
</div>
<div class="alert alert-primary">asd</div>
</body>
</html>
