@{
    ViewData["Title"] = "Index";
}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div class="formDiv">
<h1>Kan ik vandaag een korte broek aan?</h1>
<form method="post" asp-controller="KorteBroek" asp-action="Weer">
    <div class="flexbox">
        <input type="number" name="temp" placeholder="Temperature in °C" required>
        <input type="number" name="rainChance" placeholder="Kans in %" min="0" required/>
        <input type="number" name="ID" placeholder="ID"/>
        <button type="submit">Check</button>
    </div>
</form>
</div>
</body>
</html>