@{
    ViewData["Title"] = "Wordle";
}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="~/css/site.css">
    <title>Document</title>
</head>
<body>
<div class="game-container">
    <h1>Wordle</h1>
    <div id="board" class="board"></div>
    <input type="text" id="guess-input" maxlength="5" autofocus>
    <button id="submit-guess" onclick="submitGuess()">Submit Guess</button>
    <div  class="message"><p id="message"></p></div>
    <div><p>Matching Letters: <strong id="matchingLetters"></strong></p></div>
    <div><p>Not Matching Letters: <strong id="notMatchingLetters"></strong></p></div>
</div>
</body>
</html>
<script>
    let word = "@ViewBag.Word"
    let maxAttempts = 6;
    let attempt = 0;
    let guesses = [];
    console.log(word);

    function getGuess() {
        return document.getElementById('guess-input').value.toLowerCase();
    }
    function getMatchingLettersAndNotMatching(guess, word) {
        let matchingLetters = [];
        let notMatchingLetters = [];
        for (let i = 0; i < guess.length; i++) {
            if (word.indexOf(guess[i]) !== -1) {
                matchingLetters.push(guess[i]);
            } else {
                notMatchingLetters.push(guess[i]);
            }
        }
        return {matchingLetters: matchingLetters, notMatchingLetters: notMatchingLetters};
    }

    function submitGuess() {
        let guess = getGuess();
        if (guess.length === 5) {
            if (attempt < maxAttempts && guesses.indexOf(guess) === -1) {
                guesses.push(guess);
                attempt++;
                document.getElementById('guess-input').value = '';
                document.getElementById('message').innerHTML = '';
                document.getElementById('message').innerHTML = 'Guess ' + attempt + ' of ' + maxAttempts;
                if (guess === word) {
                    document.getElementById('message').innerHTML = 'You Win! The word was ' + word + '.';
                    return;
                }
                let matchingLetters = getMatchingLettersAndNotMatching(guess, word).matchingLetters;
                let currentMatchingLetters = document.getElementById('matchingLetters').innerHTML;
                let notMatchingLetters = getMatchingLettersAndNotMatching(guess, word).notMatchingLetters;
                let currentNotMatchingLetters = document.getElementById('notMatchingLetters').innerHTML;
                // make sure no duplicates in not matching letters
                for (let i = 0; i < notMatchingLetters.length; i++) {
                    if (currentNotMatchingLetters.indexOf(notMatchingLetters[i]) === -1) {
                        document.getElementById('notMatchingLetters').innerHTML += notMatchingLetters[i];
                    }
                }
                for (let j = 0; j < matchingLetters.length; j++) {
                    if (currentMatchingLetters.indexOf(matchingLetters[j]) === -1) {
                        document.getElementById('matchingLetters').innerHTML += matchingLetters[j];
                    }
                }
                
                
            }
            if (attempt === maxAttempts) {
                document.getElementById('message').innerHTML = 'You Lose! The word was ' + word + '. Total attempts: ' + maxAttempts + '.';
            }
        }
    }
</script>