@{
    ViewData["Title"] = "Home Page";
}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">    <title>Document</title>
</head>
<body>

<button class="btn btn-primary">knop</button>
<div class="row" style="background: gray">
    <div class="col-3" style="background-color:red;">3 kolommen</div>
    <div class="col-9" style="background-color:blue;">9 kolommen</div>
    <div class="col-2" style="background-color:green;">2 kolommen</div>
</div>
<br/>

<div class="row">
    <div class="col-lg-4 col-md-6" style="background-color:red;">Responsive Rood</div>
    <div class="col-lg-4 col-md-6" style="background-color:blue;">Responsive Blauw</div>
    <div class="col-lg-4 col-md-6" style="background-color:green;">Responsive Groen</div>
</div>
</body>
</html>